a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:inherit;font-style:inherit;vertical-align:baseline}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
a,ins,del{text-decoration:none}
ul,ol{list-style:none}
table{border-spacing:0;border-collapse:collapse}
caption,th{text-align:left}
q:after,q:before{content:""}
body{font:13px/1.231 sans-serif;*font-size:small}
table{font-size:inherit;font:100%}
select,input,textarea,button{font:99% sans-serif}
pre,code,kbd,samp{font-family:monospace,sans-serif}
body,select,input,textarea{color:#444}
h1,h2,h3,h4,h5,h6{font-weight:bold}
html{-webkit-font-smoothing:antialiased;overflow-y:scroll}
a:hover,a:active{outline:none}
a,a:active,a:visited{color:#607890}
a:hover{color:#036}
ul{margin-left:0px}
ol{margin-left:0px;list-style-type:decimal}
small{font-size:85%}
strong,th{font-weight:bold}
td,td img{vertical-align:top}
sub{vertical-align:sub;font-size:smaller}
sup{vertical-align:super;font-size:smaller}
pre{padding:15px;white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}
input[type="radio"]{vertical-align:text-bottom}
input[type="checkbox"]{vertical-align:bottom}
label,input[type=button],input[type=submit],button{cursor:pointer}
.ie7 input[type="checkbox"]{vertical-align:baseline}
.ie6 input{vertical-align:text-bottom}
::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
::selection{background:#FF5E99;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#FF5E99}
button{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
blockquote{padding:8px;margin-bottom:12px;font-weight:bold}
blockquote:before{content:' " ';font-size:24px;font-family:Museo,"Hevletica Neua",Helvetica,sans-serif;font-weight:bold;color:#333}
.ir{display:block;text-indent:-999em;overflow:hidden;background-repeat:no-repeat;text-align:left;direction:ltr}
.strike{text-decoration:line-through}
.hidden{display:none;visibility:hidden}
.visuallyhidden{position:absolute !important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.invisible{visibility:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{zoom:1}
@media print{*{background:transparent !important;color:#444 !important;text-shadow:none !important}
a,a:visited{color:#444 !important;text-decoration:underline}
a:after{content:" (" attr(href) ")"}
abbr:after{content:" (" attr(title) ")"}
.ir a:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
img{page-break-inside:avoid}
}
cufon canvas{-moz-user-select:text;-webkit-user-select:text;user-select:text}
cufon canvas::-moz-selection{background:#FF5E99;color:#fff;text-shadow:none}
.hideTxt{text-indent:-9999px}
a.hideTxt,span.hideTxt{display:block}
.clear{clear:both}
.hide{display:none}
.wrapper{width:990px;margin:0px auto}
body{font-family:"Helvetica Neu",Helvetica,Arial,sans-serif}
p{font-family:"Helvetica Neu",Helvetica,Arial,sans-serif;color:#3c3c3c;font-size:14px;line-height:24px}
a{color:#7886AF}
a :hover,a :active,a :focus{outline:none;border:none;-moz-outline-style:none}
:-moz-any-link:focus{outline:none}
h1,h2,h3{font-family:Avenir,"Helvetica Neu",Helvetica,Arial,sans-serif}
h1{font-size:36px;line-height:52px;color:#333;font-weight:normal}
.flash{margin:0 auto;width:622px}
.flash .message{-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;text-align:center;margin:0 auto 15px -4px;font-size:18px;padding:5px 0 0}
.flash .message p{margin:8px}
.flash .error{border:1px solid #fbb;background-color:#fdd}
.flash .warning{border:1px solid #fffaaa;background-color:#ffffcc}
.flash .notice{border:1px solid #1FDF00;background-color:#BBFFB6}
html{background:url('http://assets2-launch.designbreakdown.com/images/body.png?1289258270') repeat}
body{background:url('http://assets1-launch.designbreakdown.com/images/header-shade.png?1289268493') no-repeat scroll left top}
.formError{position:absolute;width:auto;z-index:20000}
.formErrorContent{font-size:12px;color:#111;background:red;background:rgba(255,0,0,0.6);padding:10px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;list-style:none;line-height:16px}
.formErrorArrow{display:block;width:0;height:0;border-left:0 solid transparent;border-right:15px solid transparent;border-top:10px solid red;border-top:10px solid rgba(255,0,0,0.6);border-bottom:0;margin-left:10px}
.message_messageformError{margin-top:46px 0px 0px -375px !important}
.message_messageformError .formErrorContent{-moz-border-radius:0px 5px 5px 0px;-webkit-border-radius:0px 5px 5px 0px}
.ajaxSubmit{font-size:24px;color:#808182;font-family:"Helvetica Neu",Helvetica,Arial;font-size:42px;font-weight:bold;float:left}
#logo{background:url('http://assets1-launch.designbreakdown.com/images/header.png?1292974461');width:113px;height:52px;position:absolute;top:310px;right:16px}
#main{height:379px}
#main header{padding-top:12px}
#main header p{width:900px}
.sub_title{text-align:center;font-size:14px;color:#3c3c3c;font-weight:normal;font-family:"Helvetica Neu",Helvetica,Avenir,Arial,sans-serif;margin:3px 0 36px 0}
p{margin-bottom:12px}
#phases{background:#100808;float:left;width:100%}
#location{position:absolute}
#marker{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') no-repeat;height:51px;margin:-40px 0 0 525px;position:relative;width:94px;z-index:100}
#bar{background:url('http://assets3-launch.designbreakdown.com/images/phase_bars/phase1_bar.png?1289268757') repeat-x;float:left;height:3px;margin-top:-14px;width:549px}
#bar.phase1{background:url('http://assets3-launch.designbreakdown.com/images/phase_bars/phase1_bar.png?1289268757') repeat-x}
#bar.phase2{background:url('http://assets0-launch.designbreakdown.com/images/phase_bars/phase2_bar.png?1289268067') repeat-x}
#bar.phase3{background:url('http://assets1-launch.designbreakdown.com/images/phase_bars/phase3_bar.png?1289268612') repeat-x}
#bar.phase4{background:url('http://assets2-launch.designbreakdown.com/images/phase_bars/phase4_bar.png?1289268685') repeat-x}
#bar.phase5{background:url('http://assets3-launch.designbreakdown.com/images/phase_bars/phase5_bar.png?1289268733') repeat-x}
#phases{height:400px}
#phases a{color:#CDC5BF;text-decoration:underline}
#phases a:hover{text-decoration:none;color:#fefefe}
#phases nav{position:absolute;width:100%;z-index:100}
#phases nav ul{margin:-3px auto 0 550px}
#phases nav li{border-top:3px solid #7ecc70;float:left;margin-right:50px;padding:6px 4px 0 4px}
#phases nav li.phase2{border-top:3px solid #fcce0e}
#phases nav li.phase3{border-top:3px solid #f76d19}
#phases nav li.phase4{border-top:3px solid #fe9288}
#phases nav li.phase5{border-top:3px solid #5db4ba;margin-right:0px}
#phases nav li a{font-size:11px;color:#faf9fa;text-decoration:none}
#phases p{color:#CDC5BF}
.moon{position:absolute;z-index:100;width:47px;height:67px;background:url('http://assets0-launch.designbreakdown.com/images/moon.png?1292974457') no-repeat;margin-top:-43px}
#phase2 .moon{background:url('http://assets0-launch.designbreakdown.com/images/moon.png?1292974457') 0 -67px no-repeat}
#phase3 .moon{background:url('http://assets0-launch.designbreakdown.com/images/moon.png?1292974457') 0 -134px no-repeat}
#phase4 .moon{background:url('http://assets0-launch.designbreakdown.com/images/moon.png?1292974457') 0 -201px no-repeat}
#phase5 .moon{background:url('http://assets0-launch.designbreakdown.com/images/moon.png?1292974457') 0 -268px no-repeat}
.phase_wrap{display:none;position:absolute}
.phase_wrap.active{display:block}
.phase_title{font-weight:bold;color:#efe5d0;font-size:25px;line-height:34px}
.phase{margin:18px 0 0 60px;float:left;color:#cdc5bf}
.phase .meta{float:left;width:225px}
.phase .date_wrap{margin-top:12px}
.phase .date{float:left;font-size:13px;margin:0 0 5px}
.phase .date span{font-weight:bold;font-size:14px;margin-right:3px}
.phase .end_date span{margin-right:8px}
.phase p,.phase .phase_desc{font-size:12px;line-height:20px}
.projects_scroll_wrap,.projects_scroll{height:280px;float:left;width:900px}
.projects_scroll_wrap,.nothing{margin:35px 0 0 18px;width:960px}
.projects_scroll{overflow:hidden;position:relative;z-index:90;margin-left:18px}
.projects_for_phase{clear:both;position:absolute;width:20000em}
.projects_for_phase li{float:left}
.cloned{display:none}
.projects_for_phase li img{border:2px solid #FFF;float:left;margin-bottom:10px}
li.project{margin-right:50px}
.browse{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') 0 -51px no-repeat;height:32px;position:relative;width:15px;z-index:500;float:left;margin-top:55px;display:block}
.right.browse{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') 0 -83px no-repeat;float:right}
.browse{cursor:pointer}
.incomplete,.completed{float:left;position:relative;width:7px;z-index:200}
.incomplete{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') 0 -115px no-repeat;height:142px;margin-left:-7px;z-index:199}
.completed{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') 0 -257px no-repeat}
.progress_label{color:#ECE6E6;float:left;margin-left:0px;padding-left:4px;position:relative;z-index:300;margin-left:0px;border-top:1px solid #8A8787}
.arrow_hover{background:url('http://assets1-launch.designbreakdown.com/images/phase.png?1292974458') 0 -399px no-repeat;width:153px;height:101px;display:block;margin:-25px 0 0 -68px;opacity:0.0;-moz-opacity:0.0;filter:alpha(opacity=0)}
.project a{color:#cdc5bf;display:block}
.project a:hover{color:#fefefe;text-decoration:none}
.project{font-size:12px;line-height:20px}
.project .wrap{float:left;display:block;color:#cdc5bf}
.project h3{font-size:14px;text-align:center;color:#faf9f9}
.project .short_desc{float:left;width:192px}
.link_to_site{text-decoration:underline}
.nothing{display:block;float:left;text-align:center;margin-top:70px}
#me_twitter{z-index:500;background:url('http://assets1-launch.designbreakdown.com/images/interact.png?1292974461') no-repeat}
#me_twitter,#me_twitter_bg_fade{float:left;margin:350px 0 0 60px;position:relative;display:block}
#me_twitter,#me_twitter_bg_fade{width:155px;height:50px}
#me_twitter_bg_fade{background:url('http://assets1-launch.designbreakdown.com/images/interact.png?1292974461') 0 -55px no-repeat;-moz-opacity:0;opacity:0;height:90px;left:-245px;top:-30px;width:187px}
#dbd_twitter{width:62px;height:121px;background:url('http://assets1-launch.designbreakdown.com/images/interact.png?1292974461') 0 -145px no-repeat;opacity:0.6;top:100px;float:right;position:relative}
#octocat{z-index:500;background:url('http://assets1-launch.designbreakdown.com/images/interact.png?1292974461') 0 -266px no-repeat;left:500px}
#octocat,#octocat_bg_fade{width:211px;height:66px;position:relative;top:320px;margin:0px auto}
#octocat_bg_fade{background:url('http://assets1-launch.designbreakdown.com/images/interact.png?1292974461') 0 -332px no-repeat;height:88px;left:482px;top:254px;width:247px;-moz-opacity:0;opacity:0}
#signup{margin-top:50px;width:640px;margin:0px auto}
#signup h2{font-size:20px;margin-bottom:12px}
#signup h3{font-size:13px;margin-bottom:12px}
#signup p{color:#3c3c3c;font-size:12px;line-height:20px;padding-left:2px}
#signup h1{background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') no-repeat scroll top left;width:211px;height:35px;margin:0 auto;padding:3px 15px;position:relative;top:-25px}
#signup input.text_field,#signup input.text_area,#signup textarea{border:none}
#signup input.text_field,#signup input.text_area,#signup textarea{width:276px;height:32px;background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -35px no-repeat;padding:4px 4.5px 0px 4.5px;color:#ddd}
#signup input.text_field:focus,#signup input.text_area:focus,#signup textarea:focus{outline:none;border:1px solid #dcdcdc;box-shadow:0 0 6px #9e9e9e;-webkit-box-shadow:0 0 6px #9e9e9e;-moz-box-shadow:0 0 8px #9e9e9e;box-shadow:0 0 8px #9e9e9e;width:266px;color:#464646;margin-left:0px !important;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;border-radius:4px}
#signup .basics,#signup input,#signup textarea{float:left;margin-bottom:15px}
#signup fieldset{width:273px}
#signup div.basics{width:100%}
#signup input.text_field,#signup input.text_area,#signup textarea{background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -71px no-repeat;color:#DDDDDD;height:36px;padding:3px 4.5px 0;width:362px}
#signup input.text_field:focus,#signup input.text_area:focus,#signup textarea:focus{outline:none;border:1px solid #dcdcdc;box-shadow:0 0 5px #9e9e9e;-webkit-box-shadow:0 0 5px #9e9e9e;-moz-box-shadow:0 0 5px #9e9e9e;width:350px;height:28px;color:#464646;margin-left:0px !important}
#signup .login_link{display:block;float:right;line-height:20px;margin:55px 0 0;text-align:center;width:90px}
#signup #price_tag{width:97px;height:25px;background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -107px no-repeat;margin:-30px auto 0 0;position:relative}
#basic_details_form{float:left}
.you_get,.you_get li{list-style-type:none;list-style-image:none;padding:0px;margin:0px}
.you_get{margin-bottom:12px;padding-left:3px}
.you_get li{padding-top:12px}
.you_get .first{padding-top:0px}
.basics h3{margin-top:12px}
ul.signin_providers{margin:-2px auto 12px auto;width:150px}
ul.signin_providers li{float:left}
ul.signin_providers li.twitter{margin-right:18px}
ul.signin_providers li.twitter a{width:33px;height:45px;background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -132px no-repeat}
ul.signin_providers li.twitter a:hover{background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -177px no-repeat}
ul.signin_providers li.twitter a:active{background:url('http://assets1-launch.designbreakdown.com/images/signup.png?1292974459') 0 -222px no-repeat}
#footer_wrap{margin:0 auto;width:990px}
#footer_line{background:url('http://assets2-launch.designbreakdown.com/images/footer-line.png?1282744760') repeat-x scroll 0 0 transparent;height:2px;margin:25px 0 10px}
#footer_copy,.copy{font-size:11px}
#footer_copy{margin:10px 0}
#footer_line,#footer_copy{float:left;width:100%}
.copy{float:left;line-height:14px}
.link_to_top{float:right}
.projects_scroll_wrap{overflow:hidden}
@media screen and (min-width:803px){#phases .projects_scroll_wrap{width:500px}
#phases .projects_scroll{width:440px}
}
@media screen and (min-width:903px){#phases .projects_scroll_wrap{width:600px}
#phases .projects_scroll{width:540px}
}
@media screen and (min-width:1003px){#phases .projects_scroll_wrap{width:700px}
#phases .projects_scroll{width:640px}
}
@media screen and (min-width:1103px){#phases .projects_scroll_wrap{width:800px}
#phases .projects_scroll{width:740px}
}
@media screen and (min-width:1264px){#phases .projects_scroll_wrap{width:960px}
#phases .projects_scroll{width:900px}
}
@media screen and (min-width:1303px){#phases .projects_scroll_wrap{width:1000px}
#phases .projects_scroll{width:940px}
}
@media screen and (min-width:1403px){#phases .projects_scroll_wrap{width:1100px}
#phases .projects_scroll{width:1040px}
}
#destroyed{margin-top:25px;font-size:13px;line-height:19px;color:#3c3c3c}
#destroyed h1{font-size:18px;line-height:32px;letter-spacing:1.5px;color:#404142;font-weight:bold;margin:0 0 12px 0}
#destroyed ul{padding:0 0 0 20px}
#destroyed li{margin-bottom:12px}
#destroyed .inner{width:800px}
#destroyed_science{width:100%;background:url('http://assets3-launch.designbreakdown.com/images/science.png?1290197161') no-repeat scroll bottom right}
