.clear
#destroyed_science
  %section#destroyed.wrapper 
    .inner
      %h1 
        With any project there are tragic stories of unseen suffers -- on whose backs the project was built. These are just some 
        of those who were impacted   
    
      %p 
        One small bunny rabbit (numbered, chocolate, delicious, brand = hershey) was killed during the making of this site.  I 
        apologize.
  
      %p
        The following inanimate things suffered emotionally traumatic experiences, my heart goes out to them;
        %ul
          %li
            A 23 inch LCD suffered eighteen separate and equally traumatic tirades of cuss words and or insults. 
          %li
            Mongomapper, carrierwave, padrino, php, mysql & Joomla!: together they suffered an onslaught of 117 cuss words 
            (estimated) and 552 insults over the course of 175 days.   
      %p
        The following software suffered emotional breakdowns and crashed;
        %ul
          %li
            PS CS3 & PS CS5: suffered a combined total of 7 crashes, 5 lockups, 42 serious hangups and 666 lengthy pauses.
          %li
            1 Mongodb daemon: suffered 17 document overwrites (user and or web-app error), 3 corrupted lock files and 3 db repairs. 
          %li
            1 Ubuntu 9.04 Karmic 64 bit micro EC2 instance: 2 full crashes.
        and much much more....             