%section#footer_wrap
  #footer_line
  #footer_copy  
    %p.copy © 2010 <strong>Designbreakdown.</strong> All text content licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons 3.0 NC license</a>
    %a{:class => "link_to_top", :href => "#top_header_wrap"} BACK TO TOP       