/* line 1, ../../../app/stylesheets/partials/base.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 2, ../../../app/stylesheets/partials/base.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 6, ../../../app/stylesheets/partials/base.scss */
select,
input,
textarea,
button {
  font: 99% sans-serif;
}

/* line 10, ../../../app/stylesheets/partials/base.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* line 13, ../../../app/stylesheets/partials/base.scss */
body, select, input, textarea {
  color: #444;
}

/* line 14, ../../../app/stylesheets/partials/base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 16, ../../../app/stylesheets/partials/base.scss */
html {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

/* line 19, ../../../app/stylesheets/partials/base.scss */
a:hover,
a:active {
  outline: none;
}

/* line 22, ../../../app/stylesheets/partials/base.scss */
a,
a:active,
a:visited {
  color: #607890;
}

/* line 23, ../../../app/stylesheets/partials/base.scss */
a:hover {
  color: #036;
}

/* line 25, ../../../app/stylesheets/partials/base.scss */
ul {
  margin-left: 0px;
}

/* line 26, ../../../app/stylesheets/partials/base.scss */
ol {
  margin-left: 0px;
  list-style-type: decimal;
}

/* line 28, ../../../app/stylesheets/partials/base.scss */
small {
  font-size: 85%;
}

/* line 29, ../../../app/stylesheets/partials/base.scss */
strong, th {
  font-weight: bold;
}

/* line 30, ../../../app/stylesheets/partials/base.scss */
td, td img {
  vertical-align: top;
}

/* line 31, ../../../app/stylesheets/partials/base.scss */
sub {
  vertical-align: sub;
  font-size: smaller;
}

/* line 32, ../../../app/stylesheets/partials/base.scss */
sup {
  vertical-align: super;
  font-size: smaller;
}

/* line 34, ../../../app/stylesheets/partials/base.scss */
pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

/* line 42, ../../../app/stylesheets/partials/base.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 43, ../../../app/stylesheets/partials/base.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 47, ../../../app/stylesheets/partials/base.scss */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* line 48, ../../../app/stylesheets/partials/base.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 49, ../../../app/stylesheets/partials/base.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 51, ../../../app/stylesheets/partials/base.scss */
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 52, ../../../app/stylesheets/partials/base.scss */
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 54, ../../../app/stylesheets/partials/base.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* line 55, ../../../app/stylesheets/partials/base.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 56, ../../../app/stylesheets/partials/base.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 58, ../../../app/stylesheets/partials/base.scss */
blockquote {
  padding: 8px;
  margin-bottom: 12px;
  font-weight: bold;
}

/* line 64, ../../../app/stylesheets/partials/base.scss */
blockquote:before {
  content: ' " ';
  font-size: 24px;
  font-family: Museo, "Hevletica Neua", Helvetica,sans-serif;
  font-weight: bold;
  color: #333;
}

/* for image replacement */
/* line 74, ../../../app/stylesheets/partials/base.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 83, ../../../app/stylesheets/partials/base.scss */
.strike {
  text-decoration: line-through;
}

/* line 85, ../../../app/stylesheets/partials/base.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 86, ../../../app/stylesheets/partials/base.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 89, ../../../app/stylesheets/partials/base.scss */
.invisible {
  visibility: hidden;
}

/* >> The Magnificent CLEARFIX << j.mp/phayesclearfix */
/* line 92, ../../../app/stylesheets/partials/base.scss */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 93, ../../../app/stylesheets/partials/base.scss */
.clearfix {
  zoom: 1;
}

@media print {
  /* line 96, ../../../app/stylesheets/partials/base.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  /* line 98, ../../../app/stylesheets/partials/base.scss */
  a,
  a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 99, ../../../app/stylesheets/partials/base.scss */
  a:after {
    content: " (" attr(href) ")";
  }

  /* line 100, ../../../app/stylesheets/partials/base.scss */
  abbr:after {
    content: " (" attr(title) ")";
  }

  /* line 101, ../../../app/stylesheets/partials/base.scss */
  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  /* line 103, ../../../app/stylesheets/partials/base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 104, ../../../app/stylesheets/partials/base.scss */
  img {
    page-break-inside: avoid;
  }
}

/* line 107, ../../../app/stylesheets/partials/base.scss */
cufon canvas {
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
}

/* line 108, ../../../app/stylesheets/partials/base.scss */
cufon canvas::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}

/* line 110, ../../../app/stylesheets/partials/base.scss */
.hideTxt {
  text-indent: -9999px;
}

/* line 112, ../../../app/stylesheets/partials/base.scss */
a.hideTxt,
span.hideTxt {
  display: block;
}

/* line 113, ../../../app/stylesheets/partials/base.scss */
.clear {
  clear: both;
}

/* line 114, ../../../app/stylesheets/partials/base.scss */
.hide {
  display: none;
}

/* line 115, ../../../app/stylesheets/partials/base.scss */
.wrapper {
  width: 990px;
  margin: 0px auto;
}

/* line 117, ../../../app/stylesheets/partials/base.scss */
body {
  font-family: "Helvetica Neu",Helvetica,Arial,sans-serif;
}

/* line 119, ../../../app/stylesheets/partials/base.scss */
p {
  font-family: "Helvetica Neu", Helvetica, Arial, sans-serif;
  color: #3c3c3c;
  font-size: 14px;
  line-height: 24px;
}

/* line 126, ../../../app/stylesheets/partials/base.scss */
a {
  color: #7886AF;
}
/* line 127, ../../../app/stylesheets/partials/base.scss */
a :hover, a :active, a :focus {
  outline: none;
  border: none;
  -moz-outline-style: none;
}

/* line 130, ../../../app/stylesheets/partials/base.scss */
:-moz-any-link:focus {
  outline: none;
}

/* line 132, ../../../app/stylesheets/partials/base.scss */
h1, h2, h3 {
  font-family: Avenir,"Helvetica Neu",Helvetica,Arial,sans-serif;
}

/* line 134, ../../../app/stylesheets/partials/base.scss */
h1 {
  font-size: 36px;
  line-height: 52px;
  color: #333;
  font-weight: normal;
}

/* flash-messages */
/* line 142, ../../../app/stylesheets/partials/base.scss */
.flash {
  margin: 0 auto;
  width: 622px;
}

/* line 143, ../../../app/stylesheets/partials/base.scss */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px -4px;
  font-size: 18px;
  padding: 5px 0 0;
}

/* line 144, ../../../app/stylesheets/partials/base.scss */
.flash .message p {
  margin: 8px;
}

/* line 145, ../../../app/stylesheets/partials/base.scss */
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}

/* line 146, ../../../app/stylesheets/partials/base.scss */
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}

/* line 147, ../../../app/stylesheets/partials/base.scss */
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}

/* line 149, ../../../app/stylesheets/partials/base.scss */
html {
  background: url('../../images/body.png?1289258270') repeat;
}

/* line 150, ../../../app/stylesheets/partials/base.scss */
body {
  background: url('../../images/header-shade.png?1289268493') no-repeat scroll left top;
}
